.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: -16px;
  margin-left: -16px;
  width: calc(100% + 32px);
  background: transparent;

  &.completed {
    background: rgba(0,0,0,0.1);
  }
}
